In [92]:
using Pkg
using IJulia

## __Greek Letters__
- \alpha라고 치고 여기서 tab 키

In [93]:
α = 10
println("α")
println("Harry Kane is $α years old ")

α
Harry Kane is 10 years old

## __Function__

In [94]:
function addten(β)
    return β + 10
end

println("The answer is $(addten(10))")

The answer is 20

In [95]:
f(x) = x^2

println("The answer is $(f(10))")

The answer is 100

## __Array__

In [96]:
kane = [1,2,3,4,5]

println(kane)
# println(kane[0])  인덱싱은 1부터 시작
println(kane[1])
println(kane[3])

[1, 2, 3, 4, 5]
1
3

In [97]:
biden = [1 2 3; 4 5 6]

2×3 Matrix{Int64}:
 1  2  3
 4  5  6

## __Range__

In [98]:
trump = 1:5 # 1, 2, 3, 4, 5
obama = 0:5 # 0, 1, 2, 3, 4, 5

println(trump)
println(obama)

1:5
0:5

## __If__

In [105]:
θ = 10

if θ <= 5
    println("What a wonderful world")

elseif θ > 5 && θ <= 10
    println("Awesome")

else
    println("Chill~~~")

end

Awesome